.mainHomeScreen {
  display: flex;
  background: #c61019;
}
.tv {
  width: 530px;
  padding-top: 60px;
}
.leftHome {
  margin-top: 130px;
  margin-left: 60px;
}
.leftHome h1 {
  font-size: 70px;
}
.middleHome {
  background: black;
  display: flexbox;
  padding-left: 60px;
}
.blurb {
  color: white;
  padding-top: 50px;
}
.movieList {
  color: white;
  margin-top: 40px;
}
.topMovies {
  font-size: 40px;
}
.top-results {
  width: 100%;
  display: inline-flex;
  overflow-x: scroll;
  list-style: none;
}
