@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.mainHomeScreen {
  display: flex;
  background: radial-gradient(#d66167, #c61019);
  background-repeat: no-repeat;
}
.tv {
  width: 700px;
  padding-top: 60px;
}
.leftHome {
  margin-top: 170px;
  margin-left: 60px;
}
.leftHome h1 {
  font-size: 70px;
  font-family: 'Archivo Black', sans-serif;
}
.middleHome {
  background: black;
  display: flexbox;
  padding-left: 60px;
}
.blurb {
  color: white;
  padding-top: 50px;
}
.movieList {
  color: white;
  margin-top: 40px;
}
.topMovies {
  font-size: 40px;
  color: white;
}
.top-results {
  width: 100%;
  display: inline-flex;
  overflow-x: scroll;
  list-style: none;
}
