.nav-home{
    background: radial-gradient(#db3d44, #c61019);
    z-index: 2;
}
.nav-watch{
    background: black;
    z-index: 2;
}
.nav-signup{
    /* background: radial-gradient(#2f2e2e, #160f10); */
    background: #161616;
    z-index: 2;
}
.nav-login{
    /* background: radial-gradient(#2f2e2e, #160f10); */
    background: #161616;
    z-index: 2;
}
.nav-search{
    background: black;
    z-index: 2;
}
.nav-random{
    background: black;
    z-index: 2;
}
.logout {
    text-decoration: none;
    color:white;
}
.logout:hover {
    color: white;
}