@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

textarea:focus,
input:focus {
  outline: none;
}
input {
  background: black;
  border-color: white;
  color: white;
  border-radius: 7px;
  border-style: solid;
  padding: 10px
}
.container {
  margin: 0px;
  padding: 0px;
  background: black;
  width: 100%;
  height: 3000px;
  max-width: 100%;
}
.search-page {
  color: white;
  width: 100%;
  padding-top: 20px;
}
.search-page h1 {
  font-family: 'Archivo Black', sans-serif;
  margin-left: 50px;
}
.search-page input{
  margin-left: 50px; 
}
.input-box {
  width: 400px;
}
.results {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
