/* button {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
} */
.card {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: hidden;
  margin: 0;
}
.signup-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  /* max-width: 300px; */
  height: 100%;
  margin: auto;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #161616, #692f2f, #cc0b0b);


}
.signup-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  width: 430px;
  padding: 30px 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}

.signup-title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
  color: #f2e9e9;
}
.isra {
  backdrop-filter: blur(15px);
}
.signup-input-fields {
  width: 100%;
  padding: 20px 5px 10px 5px;
}
.signup-input-fields input {
  /* To hide default browser options of input field */
  /* To hide default browser options of input field */
  border: none;
  outline: none;
  /* Custom design for the input field */
  background: black;
  font-size: 18px;
  color: #fff;
  padding: 15px 10px 15px 21px;
}
.signup-input-fields ::placeholder {
  font-size: 18px;
  color: #fff;
}
.signup-email-input,
.signup-password-input,
.signup-password-confirm {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 20px;
  /* Box-shadow for 3d */
  box-shadow: inset 8px 8px 8px rgba(66, 64, 64, 0.8),
    inset -8px -8px 8px rgba(72, 71, 71, 0.932);
}
.singup-input-fields svg {
  height: 15px;
  margin: 0 10px -3px 25px;
}
.signup-button {
  /* To hide default browser options of input field */
  outline: none;
  border: none;
  /* Custom design for the Button */
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  background: hwb(150 45% 55%);
  box-shadow: 7px 7px 8px rgba(66, 64, 64, 0.8),
    -7px -7px 8px rgba(80, 78, 78, 0.932);
  transition: 0.5s;
}
.signup-button:hover {
  background: hwb(0 3% 97%);
}
.signup-button:active {
  background: hwb(132 3% 95%);
}
.have-account {
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  color: rgb(10, 9, 9);
  font-size: 15px;
  transition: 0.5s;
}
.have-account a:hover {
  text-decoration-color: #151515;
  color: #0f0202;
  font-size: 15px;
}

@keyframes updown {
  0% {
    top: 110%;
  }
  50% {
    top: 0;
  }
  100% {
    top: 110%;
  }
}

@keyframes leftright {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}

@keyframes vastag {
  0% {
    width: 8vh;
  }
  50% {
    width: 32vh;
  }
  100% {
    width: 8vh;
  }
}

@keyframes forog {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pop {
  0% {
    transform: scale(0.1);
  }
  3% {
    transform: scale(2);
  }
  6% {
    transform: scale(1);
  }
  100% {
    transform: scale(1) rotate(720deg);
    top: 105%;
  }
}
.bubble {
  position: absolute;
  height: 50px;
  width: 50px;
  animation: updown linear 37s infinite, leftright ease-in-out 23s infinite,
    vastag linear 29s infinite, forog linear 31s infinite,
    pop linear 30s infinite;
}
.bubble:nth-child(2) {
  animation: updown ease-in 41s infinite, leftright ease-in-out 47s infinite,
    vastag linear 23s infinite, forog linear 29s infinite,
    pop linear 20s infinite;
}
.bubble:nth-child(3) {
  animation: updown ease-out 43s infinite, leftright ease-in-out 53s infinite,
    vastag linear 29s infinite, forog linear 31s infinite,
    pop linear 25s infinite;
}
.bubble:nth-child(4) {
  animation: updown ease-in-out 47s infinite, leftright ease-in-out 59s infinite,
    vastag linear 31s infinite, forog linear 41s infinite,
    pop linear 23s infinite;
}
.bubble:nth-child(5) {
  animation: updown ease-in-out 29s infinite, leftright ease-in-out 41s infinite,
    vastag linear 37s infinite, forog linear 47s infinite,
    pop linear 22s infinite;
}
.bubble:nth-child(6) {
  animation: updown ease-in-out 20s infinite, leftright ease-in-out 56s infinite,
    vastag linear 37s infinite, forog linear 47s infinite,
    pop linear 22s infinite;
}
.bubble:nth-child(7) {
  animation: updown ease-in-out 29s infinite, leftright ease-in-out 21s infinite,
    vastag linear 37s infinite, forog linear 50s infinite,
    pop linear 15s infinite;
}
.bubble:nth-child(8) {
  animation: updown ease-in-out 25s infinite, leftright ease-in-out 23s infinite,
    vastag linear 37s infinite, forog linear 57s infinite,
    pop linear 11s infinite;
}
.bubble:nth-child(9) {
  animation: updown ease-in-out 27s infinite, leftright ease-in-out 29s infinite,
    vastag linear 37s infinite, forog linear 47s infinite,
    pop linear 17s infinite;
}
.bubble:nth-child(10) {
  animation: updown ease-in-out 32s infinite, leftright ease-in-out 19s infinite,
    vastag linear 39s infinite, forog linear 42s infinite,
    pop linear 13s infinite;
}
.bubble:nth-child(11) {
  animation: updown ease-in-out 36s infinite, leftright ease-in-out 31s infinite,
    vastag linear 40s infinite, forog linear 45s infinite,
    pop linear 12s infinite;
}
.bubble:nth-child(12) {
  animation: updown ease-in-out 40s infinite, leftright ease-in-out 29s infinite,
    vastag linear 50s infinite, forog linear 44s infinite,
    pop linear 14s infinite;
}
.bubble:nth-child(13) {
  animation: updown ease-in-out 10s infinite, leftright ease-in-out 28s infinite,
    vastag linear 31s infinite, forog linear 43s infinite,
    pop linear 16s infinite;
}
.bubble:nth-child(14) {
  animation: updown ease-in-out 12s infinite, leftright ease-in-out 25s infinite,
    vastag linear 32s infinite, forog linear 49s infinite,
    pop linear 9s infinite;
}
.bubble:nth-child(15) {
  animation: updown ease-in-out 13s infinite, leftright ease-in-out 37s infinite,
    vastag linear 35s infinite, forog linear 41s infinite,
    pop linear 8s infinite;
}
.bubble:nth-child(16) {
  animation: updown ease-in-out 15s infinite, leftright ease-in-out 40s infinite,
    vastag linear 30s infinite, forog linear 47s infinite,
    pop linear 15s infinite;
}
.bubble:nth-child(17) {
  animation: updown ease-in-out 20s infinite, leftright ease-in-out 56s infinite,
    vastag linear 37s infinite, forog linear 47s infinite,
    pop linear 22s infinite;
}
.bubble:nth-child(18) {
  animation: updown ease-in-out 36s infinite, leftright ease-in-out 31s infinite,
    vastag linear 40s infinite, forog linear 45s infinite,
    pop linear 12s infinite;
}
.bubble:nth-child(19) {
  animation: updown ease-in-out 15s infinite, leftright ease-in-out 40s infinite,
    vastag linear 30s infinite, forog linear 47s infinite,
    pop linear 15s infinite;
}
.bubble:nth-child(20) {
  animation: updown ease-in-out 20s infinite, leftright ease-in-out 56s infinite,
    vastag linear 37s infinite, forog linear 47s infinite,
    pop linear 22s infinite;
}
.bubble:nth-child(21) {
  animation: updown ease-in-out 36s infinite, leftright ease-in-out 31s infinite,
    vastag linear 40s infinite, forog linear 45s infinite,
    pop linear 12s infinite;
}
.bubble:nth-child(22) {
  animation: updown ease-in-out 15s infinite, leftright ease-in-out 40s infinite,
    vastag linear 30s infinite, forog linear 47s infinite,
    pop linear 15s infinite;
}
.bubble:nth-child(23) {
  animation: updown ease-in-out 15s infinite, leftright ease-in-out 40s infinite,
    vastag linear 30s infinite, forog linear 47s infinite,
    pop linear 15s infinite;
}
.bubble:nth-child(24) {
  animation: updown ease-in-out 20s infinite, leftright ease-in-out 56s infinite,
    vastag linear 37s infinite, forog linear 47s infinite,
    pop linear 22s infinite;
}
.bubble:nth-child(25) {
  animation: updown ease-in-out 15s infinite, leftright ease-in-out 40s infinite,
    vastag linear 30s infinite, forog linear 47s infinite,
    pop linear 15s infinite;
}
.bubble:nth-child(26) {
  animation: updown ease-in-out 15s infinite, leftright ease-in-out 40s infinite,
    vastag linear 30s infinite, forog linear 47s infinite,
    pop linear 15s infinite;
}
.bubble:last-child {
  animation: updown linear 53s infinite, leftright ease-in-out 29s infinite,
    vastag linear 19s infinite, forog linear 37s infinite,
    pop linear 10s infinite;
}
