/* .Card{
    background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));

} */

/* .movie-inputs{
    opacity: 0.4;
}
.clay{
    --clay-background: #f76d6d;
  --clay-border-radius: 1rem;
      --clay-shadow-outset: 4px 4px 8px 0 rgba(0,0,0,.3);
      --clay-shadow-inset-primary: -8px -8px 8px 0 rgba(0,0,0,0.2);
      --clay-shadow-inset-secondary: 8px 8px 8px 0 hsla(0,0%,100%,0.4);
    transform: translate3d(0,0,0);
      backface-visibility: hidden;
  }
  .clay:active {
    transform:scale(0.98) translate3d(0,0,0);
  } */

  .watchlist-container {
    margin: 0px;
    padding: 0px;
    background: black;
    color: white;
    width: 100%;
    height: 3000px;
    max-width: 100%;
    font-family: 'Archivo Black', sans-serif;
    /* font-size: 50px; */
  }
  .card-container {
    color: white;
    background: black;
    font-family: 'Archivo Black', sans-serif;
    /* font-size: 40px; */
  }

  .card-container h2{
    font-size: 40px;
  }